[phases.setup]
nixPkgs = ["nodejs_22", "pnpm", "poppler_utils"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "node dist/server/node-build.mjs"

